<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compactible" content="IE=edge">
    <title>Couleurs - CONTACT</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gurajada&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/contact-style.css">
    <script defer src="../static/js/script.js"></script>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}" id="nav-logo-link">
            <img src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="Couleurs Logo">
        </a>
        <div id="nav-links-container">
            <div id="current-nav"></div>
            <a href="{{ url_for('index') }}" class="nav-link" id="nav-index-link">HOME</a>
            <div class="nav-lines"></div>
            <a href="{{ url_for('about') }}" class="nav-link" id="nav-about-link">ABOUT</a>
            <div class="nav-lines"></div>
            <a href="{{ url_for('contact') }}" class="nav-link" id="nav-contact-link">CONTACT</a>
        </div>
        <div id="dark-mode-toggle-container">
            <input type="checkbox" id="dark-mode-status">
            <label for="dark-mode-status" id="dark-mode-toggle"></label>
        </div>
    </nav>
    <main>
        <div class="box" id="box-1">
            <div id="inner-box-1">
                <img src="../static/assets/images/group-photo.png" alt="" id="group-photo">
                <h1>COULEURS TEAM</h1>
                <div id="socials-container">
                    <div class="social-part">
                        <div class="social-logo" id="social-email"></div>
                        <h2>Couleursid@gmail.com</h2>
                    </div>
                    <div class="social-part">
                        <div class="social-logo" id="social-instagram"></div>
                        <h2>Couleurs.id</h2>
                    </div>
                    <div class="social-part">
                        <div class="social-logo" id="social-phone"></div>
                        <h2>+6284967988765</h2>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>&copy; 2024 Couleurs</footer>
</body>